@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    transform: translateZ(0);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.todo-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  animation: fadeInUp ease-out 1s;
}

.todo {
  display: flex;
  justify-content: space-between;
  padding: 10px 30px;
  min-height: 80px;
  border-radius: 40px;
  list-style: none;
  background-color: #ffe6f5;
  animation: fadeIn ease-out 1s;
}

.todo-inputs {
  display: flex;
  align-items: center;
  gap: 20px;

  input[type="checkbox"] {
    width: 25px;
    height: 25px;
    cursor: pointer;
  }
  input[type="text"] {
    min-width: 600px;
    height: 40px;
    border: none;
    border-radius: 20px;
    padding: 5px 10px;
    background-color: transparent;
    outline: none;
    font-weight: 600;
  }
}

.todo-buttons {
  display: flex;
  align-items: center;
  gap: 10px;
  button {
    border: none;
    border-radius: 10px;
    padding: 10px 15px;
    background-color: #ffd494;
    color: white;
    font-weight: 800;
  }
}

.complete {
  background-color: #bceacf;
  .todo-inputs {
    text-decoration: line-through;
  }
}

.focus {
  background-color: #ddddff;
}

.select {
  background-color: #ddffdd;
}

.fade-out {
  animation: fadeOut ease-out 0.5s forwards;
}
