.container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.todo-container {
    background-color: rgb(210, 244, 15);
    max-width: 100%;
    width: 380px;
    height: 550px;

    border-radius: 10px;
}

.title {
    margin-top: 13px;
    margin-bottom: 13px;
    text-align: center;
}

.todo-list {
    margin-left: 5px;
    background-color: pink;
    width: 370px;
    height: 448px;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.todo {
    margin-top: 13px;
    background-color: aqua;
    width: 330px;
    height: 75px;

    border-radius: 10px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.todo input[type="checkbox"] {
    margin-right: 10px;
    margin-left: 10px;

    width: 15px;
    height: 15px;
}

.todo input[type="text"] {
    appearance: none;
    background: none;
    border: none;
    outline: none;
    color: black;
    font-size: 20px;
}

.todo.complete input[type="text"] {
    text-decoration: line-through;
}

.action {
    margin-right: 10px;
    width: 24px;
}

.action button {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;

    color: crimson;
    opacity: 0.8;
    transform: 0.1s;
}

input {
    width: 250px;
    height: 30px;
}

.create-btn {
    background-color: orange;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 150px;
    height: 30px;
    display: block;

    border-radius: 10px;
}

.post-todo-list {
    background-color: #000000;
    max-width: 100%;
    width: 380px;
    height: 550px;
}
