.navbar {
    background-color: #111;
    position: fixed;
    width: 100%;
    z-index: 1; /*쉽게 말해서 높은 수치 값이 맨 앞에 있다*/
    top: 0;
    display: flex;
    justify-content: space-between;
}

.navbar ul {
    display: flex;    
}

.navbar li {
    list-style: none;
    margin-inline: 1px;
    padding: 1rem;
}

.navbar li a {
    padding: 2px 2px;
    text-decoration: none;
    color: #fff;
}

.navbar li a:hover {
    color: gray;
}

header h1 {
    text-align: left; margin-left: 10px;
    font-size: 2rem;
    color: red;
    font-family: 'Bebas Neue';
}